{% if message.role == 'assistant' %}
<div class="chat is-you d-flex flex-column align-items-start">
    <div class="chat-content w-100">
        <div class="response">
          {{ message.content|safe }}
        </div>
        <div class="d-flex gap-2">
          <span class="fs-5" data-bs-toggle="modal" data-bs-target="#saveModal" style="cursor:pointer;">
              <em class="icon ni ni-save"></em>
          </span>
          <span class="fs-5" onclick="copyResponse(this)">
            <em class="icon ni ni-copy"></em>
          </span>
        </div>
        <ul class="chat-meta">
            <li>{{ message.timestamp }}</li>
        </ul>
    </div>
</div><!-- .chat -->
{% else %}
<div class="chat is-me">
    <div class="chat-content w-100">
        <div class="chat-bubbles">
            <div class="chat-bubble">
                <div class="chat-msg">{{ message.content|safe }}</div>
                
            </div>
        </div>
        <ul class="chat-meta">
            <li>{{ message.timestamp }}</li>
        </ul>
    </div>
</div>
{% endif %}
